* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(9, 10, 10);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 3px;
}

.A {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgba(240, 248, 255, 0.76);
    width: 250px;
    height: 250px;
    border-radius: 20px;
    border: solid 5px;
    box-shadow: 3px 3px 3px rgb(255, 255, 255);

}

.A form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1px;
}

.A input {
    width: 225px;
    height: 30px;
    color: black;
    background-color: rgba(240, 248, 255, 0.76);
    border: none;
    border-radius: 5px;
}

.B {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgba(240, 248, 255, 0.719);
    width: 250px;
    height: 250px;
    border-radius: 20px;
    border: solid 5px;
    color: black;
    box-shadow: 3px 3px 3px rgb(255, 255, 255);
}
button {
   min-width: 80px;
   align-self: center;
   padding: 0.6rem 1.8rem;
   background-color: #ffffff;
   color: #000000;
   border: none;
   border-radius: 8px;
   font-size: 1rem;
   font-weight: bold;
   cursor: pointer;
   margin-top: 0.5rem;
   transition: transform 0.1s ease, background-color 0.2s ease;
}

button:active {
   background-color: black;
   color: red;
}
button:hover {
    background-color: #f0f0f0;
    transform: scale(1.03);
}

a {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 80px;
    height: 45px;

    background: linear-gradient(135deg, #ffffff, #dcdcdc);
    color: #000000;

    text-decoration: none;
    border-radius: 10px;

    font-size: 15px;
    font-weight: bold;


    transition: all 0.2s ease;

    margin: 10px auto;
}

a:hover {
    background-color: #e0e0e0;
    transform: translateY(-1px);
}


a:active {
    transform: translateY(2px);
    box-shadow: 0 2px 0 #000000;
}
